<div class="mypage-area">
  <h1>My Page</h1>

  <%= image_tag(@user.icon.url) if @user.icon && @user.icon.url %><br>
  <p>
    <strong>Name:</strong>
    <%= @user.name %><br>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %><br>
  </p>

  <p><%= link_to 'Edit', edit_user_registration_path(@user.id) %></p>
  <p><%= link_to 'Delete', users_confirm_path(id: @user.id), method: :post %></p>


  <br>
  <h1>Lovews</h1>

  <% @lovew_reviews.each do |review| %>
    <h6>
      <% if user_signed_in? && current_user.id == review.user_id %>
        <%= link_to 'Edit', edit_review_path(review) %>
        <%= link_to 'Delete', review, method: :delete, data: { confirm: '削除しても本当に良いですか？' } %>
      <% end %>
    </h6>
    <table>
      <tr>
        <th>Name</th>
        <td><%= review.user.name %></td>
      </tr>
      <tr>
        <th>Title</th>
        <td><%= review.title %></td>
      </tr>
      <tr>
        <th>Problem</th>
        <td><%= review.problem %></td>
      </tr>
      <tr>
        <th>Detail</th>
        <td><%= review.detail %></td>
      </tr>
      <tr>
        <th>Solution</th>
        <td><%= review.solution %></td>
      </tr>
      <tr>
        <th>Content</th>
        <td><%= review.content %></td>
      </tr>
      <tr>
        <th>Tags</th>
        <td>
          <% review.labels.each do |label| %>
            <%= label.name %>
          <% end %>
        </td>
      </tr>
      <tr>
      <th></th>
        <td class="read-more"><%= link_to 'Read more', review %></td>
      </tr>
    </table>
  <% end %>

  <%= paginate @lovew_reviews %>

　<p class="box"></p>

  <h1>My Reviews</h1>

  <% @user.reviews.each do |review| %>
    <h6>
      <%= link_to 'Edit', edit_review_path(review) %>
      <%= link_to 'Delete', review, method: :delete, data: { confirm: '削除しても本当に良いですか？' } %>
    </h6>
    <table>
      <tr>
        <th>Name</th>
        <td><%= review.user.name %></td>
      </tr>
      <tr>
        <th>Title</th>
        <td><%= review.title %></td>
      </tr>
      <tr>
        <th>Problem</th>
        <td><%= review.problem %></td>
      </tr>
      <tr>
        <th>Detail</th>
        <td><%= review.detail %></td>
      </tr>
      <tr>
        <th>Solution</th>
        <td><%= review.solution %></td>
      </tr>
      <tr>
        <th>Content</th>
        <td><%= review.content %></td>
      </tr>
      <tr>
        <th>Tags</th>
        <td>
          <% review.labels.each do |label| %>
            <%= label.name %>
          <% end %>
        </td>
      </tr>
      <tr>
      <th></th>
        <td class="read-more"><%= link_to 'Read more', review %></td>
      </tr>
    <table>
  <% end %>
</div>

<%= paginate @reviews %>
