<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h3><%= @review.errors.count %>件のエラーがあります。</h3>

      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>:
    <%= current_user.name %>
  </div>

  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title, placeholder: "教材名を入力してください", class: "input-field" %>
  </div>
  <br>
  <div class="field">
    <%= form.label :problem %><br>
    <%= form.text_area :problem, placeholder: "解決したかった内容を入力してください", class: "input-field" %>
  </div>
  <br>
  <div class="field">
    <%= form.label :detail %><br>
    ※動画やサイトのURL記載もOKです！<br>
    <%= form.text_area :detail, placeholder: "教材で参考にした場所を入力してください", class: "input-field" %>
  </div>
  <br>
  <div class="field">
    <%= form.label :solution %><br>
    ※よろしければご記載ください！<br>
    <%= form.text_area :solution, placeholder: "どのように解決したかを入力してください", class: "input-field" %>
  </div>
  <br>
  <div class="field">
    <%= form.label :content %><br>
    <%= form.text_area :content, placeholder: "自由記入欄です", class: "input-field" %>
  </div>
  <br>
  <div class="field">
    <%= form.label :タグ一覧 %><br>
    <%= form.collection_select :label_ids, Label.all, :id, :name, {:prompt => ""}, {multiple: true} %>
  </div>
  <br>
  <div class="actions">
    <button class="btn btn-danger rounded-pill text-white" type="submit">Confirm!</button>
    <%= link_to 'Quit', reviews_path, class:"btn btn-primary rounded-pill w-100px" %>
  </div>
<% end %>
