<div class="review-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="search-area">
          <h1>Search Zone</h1>
          <%= link_to "Search Reset", reviews_path %>

          <%= form_with url: reviews_path, method: :get, local: true do |form| %>
            <%= form.label :name, 'Tags Search' %>

            <%= form.select("label_id", Label.pluck(:name, :id), { include_blank: true }) %>
            <%= form.submit 'Search', id: 'non-gem' %>
          <% end %>
          <%#= search_form_for @q, url: search_reviews_path do |form| %>
            <%#= form.label :title_or_problem_or_detail_or_solution_or_content_cont, 'Keyword Search' %>

            <%#= form.search_field :title_or_problem_or_detail_or_solution_or_content_cont, placeholder: "検索したい言葉を入力してください", class: "search-field" %>
            <%#= form.submit 'Search', id: 'ransack' %>
          <%# end %>
          <%= search_form_for @q, url: reviews_path do |form| %>
            <%= form.label :title_or_problem_or_detail_or_solution_or_content_cont, 'Keyword Search' %>

            <%= form.search_field :title_or_problem_or_detail_or_solution_or_content_cont, placeholder: "検索したい言葉を入力してください", class: "search-field" %>
            <%= form.submit 'Search', id: 'ransack' %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-8">
        <h1>ALL Reviews</h1>

          <% @reviews.each do |review| %>
            <h6>
              <% if user_signed_in? && current_user.id == review.user_id %>
                <%= link_to 'Edit', edit_review_path(review) %>
                <%= link_to 'Delete', review, method: :delete, data: { confirm: '削除しても本当に良いですか?' } %>
              <% end %>

              <% if user_signed_in? %>
                <% if review.lovewd_by?(current_user) %>
                  <span>Lovew!: </span><%=link_to "♥#{review.lovews.count}", review_lovews_path(review.id), class: "heart", method: :delete %>
                <% else %>
                  <span>Lovew!: </span><%=link_to "♡#{review.lovews.count}", review_lovews_path(review.id), class: "unheart", method: :post %>
                <% end %>
              <% end %>
            </h6>
            <table>
              <tr>
                <th>Name</th>
                <td><%= review.user.name %></td>
              </tr>
              <tr>
                <th>Title</th>
                <td><%= review.title %></td>
              </tr>
              <tr>
                <th>Problem</th>
                <td><%= review.problem %></td>
              </tr>
              <tr>
                <th>Detail</th>
                <td><%= review.detail %></td>
              </tr>
              <tr>
                <th>Solution</th>
                <td><%= review.solution %></td>
              </tr>
              <tr>
                <th>Content</th>
                <td><%= review.content %></td>
              </tr>
              <tr>
                <th>Tags</th>
                <td>
                  <% review.labels.each do |label| %>
                    <%= label.name %>
                  <% end %>
                </td>
              </tr>
              <tr>
              <th></th>
                <td class="read-more"><%= link_to 'Read more', review %></td>
              </tr>
            </table>
          <% end %>
          <%= paginate @reviews %>
      </div>
    </div>
  </div>
</div>
