<div class="result-area">
  <h1>Search Result</h1>

  <%= link_to "Search Reset", reviews_path %>

  <% @results.each do |review| %>
    <h6>
      <%= link_to 'Show', review %></td>
      <%= link_to 'Edit', edit_review_path(review) %></td>
      <%= link_to 'Destroy', review, method: :delete, data: { confirm: '削除しても本当に良いですか?' } %></td>
    </h6>
    <table>
      <tr>
        <th>Name</th>
        <td><%= review.user.name %></td>
      </tr>
      <tr>
        <th>Title</th>
        <td><%= review.title %></td>
      </tr>
      <tr>
        <th>Problem</th>
        <td><%= review.problem %></td>
      </tr>
      <tr>
        <th>Detail</th>
        <td><%= review.detail %></td>
      </tr>
      <tr>
        <th>Solution</th>
        <td><%= review.solution %></td>
      </tr>
      <tr>
        <th>Content</th>
        <td><%= review.content %></td>
      </tr>
      <tr>
        <th>Tags</th>
        <td>
          <% review.labels.each do |label| %>
            <%= label.name %>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
  <%= paginate @results %>
</div>
