<div class="show-area">
  <h1>Review Detail</h1>
    <h6>
      <% if user_signed_in? && current_user.id == @review.user_id %>
        <%= link_to 'Edit', edit_review_path(@review), class: "review_edit" %>
        <%= link_to 'Delete', @review, class: "review_delete", method: :delete, data: { confirm: '削除しても本当に良いですか?' } %>
      <% end %>
    </h6>
    <table>
      <tr>
        <th>Name:</th>
        <td><%= @review.user.name %></td>
      </tr>
      <tr>
        <th>Title:</th>
        <td><%= @review.title %></td>
      </tr>
      <tr>
        <th>Problem:</th>
        <td><%= @review.problem %>/tr></td>
      </tr>
      <tr>
        <th>Detail:</th>
        <th><%= @review.detail %></th>
      </tr>
      <tr>
        <th>Solution:</th>
        <td><%= @review.solution %></td>
      </tr>
      <tr>
        <th>Content:</th>
        <td><%= @review.content %></td>
      </tr>
      <tr>
        <th>Tags:</th>
        <td>
          <% @review.labels.each do |label| %>
            <%= label.name %>
          <% end %>
        </td>
      </tr>
    </table>
        <strong>Comments:</strong>
          <div id="comments_area">
            <%= render partial: 'comments/index', locals: { comments: @comments, review: @review } %>
          </div>
          <%= render partial: 'comments/form', locals: { comment: @comment, review: @review } %>
</div>
