<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class="header_logo">
      <a href="/">CodeLovew</a>
    </div>

    <nav class="menu">
    <% if user_signed_in? %>
      <a class="btn btn-info rounded-pill btn-lg " href="/reviews" role="button">ALL Reviews</a>
      <%# <%= link_to "ALL Reviews", reviews_path %>
      <a class="btn btn-danger rounded-pill btn-lg" href="/reviews/new" role="button">Review!</a>
      <%# <%= link_to "Review!", new_review_path %>
      <%# <a class="btn btn-warning btn-lg" href="#" role="button">My Page</a> %>
      <%= link_to "My page", user_path(current_user.id) %>
      <%# <a class="btn btn-danger btn-lg" href="/users/sign_out" role="button">Log Out</a> %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      <% if current_user.admin? %>
        <a class="btn-outline-secondary btn-lg" href="/admin" role="button">管理画面</a>
        <%# <%= link_to "管理画面", rails_admin_path %>
      <% end %>
    <% else %>
      <%# <a class="btn btn-outline-secondary bg-light btn-lg" href="/users/guest_admin_sign_in" role="button">Admin Guest Log In</a> %>
      <%= link_to "Admin Guest Log In", users_guest_admin_sign_in_path, method: :post %>
      <%# <a class="btn btn-secondary rounded-pill btn-lg" href="/users/guest_sign_in" role="button">Guest Log In</a> %>
      <%= link_to "Guest Log In", users_guest_sign_in_path, method: :post %>
      <a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Sign Up</a>
      <%# <%= link_to "Sign Up", new_user_registration_path %>
      <a class="btn btn-success btn-lg" href="/users/sign_in" role="button">Log In</a>
      <%# <%= link_to "Log In", new_user_session_path %> %>
    <% end %>
    </nav>
  </header>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>

    <footer>
      <p>&copy; 2021 - Aya Takahashi</p>
    </footer>
  </body>
</html>
