<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="header_logo">
      <a href="/">CodeLovew</a>
    </div>

    <nav class="menu">
    <% if user_signed_in? %>
      <%= link_to "ALL Reviews", reviews_path %>
      <%= link_to "Review!", new_review_path %>
      <%= link_to "My page", user_path(current_user.id) %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      <% if current_user.admin? %>
        <%= link_to "管理画面", rails_admin_path %>
      <% end %>
    <% else %>
      <%= link_to "Log In", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <%= link_to "Guest Log In", users_guest_sign_in_path, method: :post %>
      <%= link_to "Admin Guest Log In", users_guest_admin_sign_in_path, method: :post %>
    <% end %>
    </nav>
  </header>

  <body>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
    <footer>
      <p>&copy; 2021 - Aya Takahashi</p>
    </footer>
  </body>
</html>
